{% extends "base_campus.twig" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="css/select2.min.css" />
{#    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}resources/select2.min.css" />#}
    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}resources/select2-bootstrap-5-theme.min.css" />

    {% for component_configuration in wayf_config.components %}
        {% if component_configuration.name == 'userpass' %}
            {{ include('userpass.twig', {configuration: component_configuration}) }}
        {% elseif component_configuration.name == 'preferred' %}
            {{ include('preferred_idps.twig', {configuration: component_configuration}) }}
        {% elseif component_configuration.name == 'idps' %}
            {{ include('idps.twig', {configuration: component_configuration}) }}
        {% endif %}
    {% endfor %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/select2.js"></script>
{#    <script type="text/javascript" src="/{{ baseurlpath }}resources/select2.min.js"></script>#}
    <script type="text/javascript" src="/{{ baseurlpath }}resources/select2_conf.js"></script>

{% endblock %}

{#{% block footer %}#}
{#    <div id="footer" style="background-color: {{ wayf_config.color_background }}; color: {{ wayf_config.color_text }}">#}
{#        <div id="copyright">Copyright &copy; {{ year }}</div>#}
{#        <br style="clear: right; text-align: center" />#}
{#    </div>#}
{#{% endblock %}#}
