{% extends "base_campus.twig" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}resources/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}resources/select2-bootstrap-5-theme.min.css" />

    {% if wayf_config.userpass.order == 1 %}
        {% include 'userpass.twig' %}
    {% elseif wayf_config.preferred_idps.order == 1 %}
       {% include 'preferred_idps.twig' %}
    {% elseif wayf_config.idps.order == 1 %}
        {% include 'idps.twig' %}
    {% else %}
        <h1>ERROR</h1>
    {% endif %}

    {% if wayf_config.userpass.order == 2 %}
        {% include 'userpass.twig' %}
    {% elseif wayf_config.preferred_idps.order == 2 %}
        {% include 'preferred_idps.twig' %}
    {% elseif wayf_config.idps.order == 2 %}
        {% include 'idps.twig' %}
    {% else %}
        <h1>ERROR</h1>
    {% endif %}

    {% if wayf_config.userpass.order == 3 %}
        {% include 'userpass.twig' %}
    {% elseif wayf_config.preferred_idps.order == 3 %}
        {% include 'preferred_idps.twig' %}
    {% elseif wayf_config.idps.order == 3 %}
        {% include 'idps.twig' %}
    {% else %}
        <h1>ERROR</h1>
    {% endif %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/{{ baseurlpath }}resources/select2.min.js"></script>
    <script type="text/javascript" src="/{{ baseurlpath }}resources/select2_conf.js"></script>

{% endblock %}

{#{% block footer %}#}
{#    <div id="footer" style="background-color: {{ wayf_config.color_background }}; color: {{ wayf_config.color_text }}">#}
{#        <div id="copyright">Copyright &copy; {{ year }}</div>#}
{#        <br style="clear: right; text-align: center" />#}
{#    </div>#}
{#{% endblock %}#}
