<form id="userpass" action="{{ currentUrl }}" method="post" name="f">

    {% if wrongUserPass == true %}
        <div id="wrong_user_pass" class="alert alert-danger" role="alert">{{ '{campusMultiauth:wrong_user_pass}'|trans }}</div>
    {% endif %}

    <p>
        <label for="username">{{ wayf_config.userpass.label }}</label>
        <br>
        <span>
            <input id="username" class="input" type="text" name="username">
        </span>
    </p>
    <p>
        <label for="password">{{ '{campusMultiauth:password}'|trans }}</label>
        <br>
        <span>
            <input id="password" class="input" type="password" name="password" autocomplete="current-password">
        </span>
    </p>
    <div id="userpass_login_button" class="row">
        <p id="submit" class="btn-wrap">
            <button id="submit_button" class="btn" type="submit">
                <span>
                    {{ '{campusMultiauth:login}'|trans }}
                </span>
            </button>
        </p>
    </div>
    <input type="hidden" id="authstate" name="authstate" value="{{ authstate }}" />
    <input type="hidden" id="source" name="source" value="campus-userpass" />
</form>
